.checkout{
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: 30px auto 0 auto;
    &__logo{
        height: 50px;
        width: 154px;
        margin: 0 auto;
        cursor: pointer;
    }
    &__header{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 15px 0 80px 0;
        &__back{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0 0 45px 0;
            svg{
                stroke: #000;
                min-height: 24px;
                min-width: 24px;
                width: unset;
                transition: stroke .2s;
            }
            p{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #292F31;
                margin: 0 0 0 8px;
                transition: color .2s;
            }
            &:hover{
                svg{
                    stroke: #05CB95;
                }
                p{
                    color: #05CB95;
                }
            }
        }
        &__more{
            display: flex;
            flex-direction: column;
            align-items: start;
            &--title{
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #292F31;
                margin: 0 0 16px 0;
            }
            &--container{
                display: grid;
                grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
                column-gap: 29px;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        &--title{
            margin: 0 0 32px 0;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #000000;
        }
        &__delivery{
            display: flex;
            flex-direction: column;
            max-width: 576px;
            h1{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #292F31;
                margin: 0 0 16px 0;
            }
            h2{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #292F31;
                margin: 0 0 16px 0;
            }
            &--form{
                .options{
                    display: flex;
                    margin: 0 0 16px 0;
                    div{
                        display: flex;
                        width: unset;
                        align-items: center;
                        &:first-child{
                            margin: 0 24px 0 0;
                        }
                        input{
                            width: unset;
                            display: none;
                        }
                        label{
                            display: flex;
                            align-items: center;
                            color: #949494;
                            cursor: pointer;
                        }
                        input + label::before{
                            content: '';
                            height: 20px;
                            width: 20px;
                            border: 1px solid #D5D5D5;
                            border-radius: 50%;
                            display: inline-block;
                            margin: 0 8px 0 0;
                        }
                        input:checked + label{
                            color: #05CB95;
                            &::before{
                                border: 1px solid #05CB95;
                                outline: 1px solid #05CB95;
                                background: #FFF;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='%2305CB95'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
                .address{
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    margin: 29px 0 32px 0;
                    &__new{
                        background: #FFFFFF;
                        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
                        border-radius: 24px;
                        padding: 12px 20px 12px 12px;
                        height: 90px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        transition: background .2s;
                        &:hover{
                            background: #05CB95;
                            .info{
                                h1{
                                    color: #FFF;
                                }
                                h2{
                                    color: #FFF;
                                }
                                svg{
                                    stroke: #FFF;
                                }
                            }
                        }
                        img{
                            height: 66px;
                            width: 66px;
                            margin: 0 12px 0 0;
                        }
                        .info{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h1{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                                color: #292F31;
                                margin: 0 0 4px 0;
                                transition: color .2s;
                            }
                            h2{
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                color: #575757;
                                margin: 0;
                                transition: color .2s;
                            }
                            svg{
                                min-height: 24px;
                                min-width: 26px;
                                width: unset;
                                stroke: #05CB95;
                                transition: stroke .2s;
                            }
                        }
                    }
                    &__delivery{
                        padding: 20px;
                        border: 1px solid #D5D5D5;
                        border-radius: 24px;
                        position: relative;
                        .action{
                            display: flex;
                            justify-content: space-between;
                            margin: 0 0 10px 0;
                            a{
                                display: flex;
                                width: unset;
                                align-items: center;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #05CB95;
                                text-decoration: none;
                                transition: color .2s;
                                svg{
                                    min-height: 20px;
                                    min-width: 20px;
                                    width: unset;
                                    margin: 0 0 0 6px;
                                    stroke: #05CB95;
                                    transition: stroke .2s;
                                }
                                &:hover{
                                    color: #0AA77C;
                                    svg{
                                        stroke: #0AA77C;
                                    }
                                }
                            }
                            p{
                                width: unset;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                                color: #292F31;
                                margin: 0;
                            }
                        }
                        .text{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #575757;
                            margin: 0 0 23px 0;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis
                        }
                        h1{
                            margin: 0;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #292F31;
                        }
                        .tag{
                            display: flex;
                            align-items: center;
                            background: #0AA77C;
                            border-radius: 8px;
                            padding: 5px 8px;
                            max-width: 148px;
                            position: absolute;
                            top: -10px;
                            left: 20px;
                            p{
                                font-style: normal;
                                font-weight: 800;
                                font-size: 12px;
                                line-height: 15px;
                                color: #FFFFFF;
                                margin: 0px;
                                white-space: nowrap;
                            }
                        }
                    }
                    &__withdrawal{
                        padding: 22px 20px 20px 20px;
                        border: 1px solid #D5D5D5;
                        border-radius: 24px;
                        position: relative;
                        .text{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: #575757;
                            margin: 0 0 23px 0;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            text-overflow: ellipsis
                        }
                        h1{
                            margin: 0;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #292F31;
                        }
                        .tag{
                            display: flex;
                            align-items: center;
                            background: #292F31;
                            border-radius: 8px;
                            padding: 5px 8px;
                            max-width: 148px;
                            position: absolute;
                            top: -10px;
                            left: 20px;
                            p{
                                font-style: normal;
                                font-weight: 800;
                                font-size: 12px;
                                line-height: 15px;
                                color: #FFFFFF;
                                margin: 0px;
                                white-space: nowrap;
                            }
                        }
                        div{
                            display: flex;
                            h2{
                                width: unset;
                                margin: 0;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                color: #575757;
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .payments{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 50px 0;
                    &__machine{
                        border: 1px solid #D5D5D5;
                        border-radius: 24px;
                        max-width: 279px;
                        padding: 15px 20px;
                        cursor: pointer;
                        transition: border .2s, outline .2s;
                        &:hover{
                            border: 1px solid #05CB95;
                            outline: 1px solid #05CB95;
                            .noactive{
                                div:nth-child(1){
                                    background: #05CB95;
                                    svg{
                                        fill: #FFF;
                                        transform: rotate(0deg);
                                    }
                                }
                                div:nth-child(2){
                                    h1{
                                        color: #05CB95;
                                    }
                                    h2{
                                        color: #05CB95;
                                    }
                                }
                            }
                        }
                        &.active{
                            border: 1px solid #05CB95;
                            outline: 1px solid #05CB95;
                            transition: border .2s, outline .2s;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 87px;
                            &:hover{
                                border: 1px solid #0AA77C;
                                outline: 1px solid #0AA77C;
                                .active{
                                    div:nth-child(1){
                                        h1{
                                            color: #0AA77C;
                                        }
                                    }
                                    div:nth-child(2){
                                        svg{
                                            stroke: #0AA77C;
                                            transform: rotate(360deg);
                                        }
                                        p{
                                            color: #0AA77C;
                                        }
                                    }
                                }
                            }
                            .active{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                div{
                                    display: flex;
                                    align-items: center;
                                    width: unset;
                                    &:nth-child(1){
                                        img{
                                            height: 23px;
                                            width: 39px;
                                        }
                                        h1{
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 17px;
                                            color: #05CB95;
                                            margin: 0 0 0 16px;
                                            transition: color .2s;
                                        }
                                    }
                                    &:nth-child(2){
                                        svg{
                                            stroke: #05CB95;
                                            transform: rotate(0deg);
                                            transition: stroke .2s, transform .3s;
                                        }
                                        p{
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 17px;
                                            color: #05CB95;
                                            margin: 0 6px 0 0;
                                            transition: color .2s;
                                        }
                                    }
                                }
                            }
                            .noactive{
                                display: none;
                            }
                        }
                        .active{
                            display: none;
                        }
                        .noactive{
                            display: flex;
                            justify-content: space-between;
                            div{
                                &:nth-child(1){
                                    min-height: 55px;
                                    min-width: 55px;
                                    width: unset;
                                    background: #F5F5F5;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transition: background .2s;
                                    svg{
                                        fill: #292F31;
                                        min-height: 24px;
                                        min-width: 15px;
                                        width: unset;
                                        transform: rotate(360deg);
                                        transition: transform .3s, fill .2s;
                                    }
                                }
                                &:nth-child(2){
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    max-width: 166px;
                                    h1{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: #292F31;
                                        margin: 0 0 4px 0;
                                        transition: color .2s;
                                        width: unset;
                                    }
                                    h2{
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: #575757;
                                        margin: 0;
                                        transition: color .2s;
                                        width: unset;
                                    }
                                }
                            }
                        }
                    }
                    &__money{
                        border: 1px solid #D5D5D5;
                        border-radius: 24px;
                        max-width: 279px;
                        padding: 15px 20px;
                        cursor: pointer;
                        transition: border .2s, outline .2s;
                        &:hover{
                            border: 1px solid #05CB95;
                            outline: 1px solid #05CB95;
                            .noactive{
                                div:nth-child(1){
                                    background: #05CB95;
                                    svg{
                                        stroke: #FFF;
                                        transform: rotate(0deg);
                                    }
                                }
                                div:nth-child(2){
                                    h1{
                                        color: #05CB95;
                                    }
                                    h2{
                                        color: #05CB95;
                                    }
                                }
                            }
                        }
                        &.active{
                            border: 1px solid #05CB95;
                            outline: 1px solid #05CB95;
                            transition: border .2s, outline .2s;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 87px;
                            &:hover{
                                border: 1px solid #0AA77C;
                                outline: 1px solid #0AA77C;
                                .active{
                                    div:nth-child(1){
                                        h1{
                                            color: #0AA77C;
                                        }
                                    }
                                    div:nth-child(2){
                                        svg{
                                            stroke: #0AA77C;
                                            transform: rotate(360deg);
                                        }
                                        p{
                                            color: #0AA77C;
                                        }
                                    }
                                }
                            }
                            .active{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                div{
                                    display: flex;
                                    align-items: center;
                                    width: unset;
                                    &:nth-child(1){
                                        img{
                                            height: 23px;
                                            width: 39px;
                                        }
                                        h1{
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 17px;
                                            color: #05CB95;
                                            margin: 0 0 0 16px;
                                            transition: color .2s;
                                        }
                                    }
                                    &:nth-child(2){
                                        svg{
                                            stroke: #05CB95;
                                            transform: rotate(0deg);
                                            transition: stroke .2s, transform .3s;
                                        }
                                        p{
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 14px;
                                            line-height: 17px;
                                            color: #05CB95;
                                            margin: 0 6px 0 0;
                                            transition: color .2s;
                                        }
                                    }
                                }
                            }
                            .noactive{
                                display: none;
                            }
                        }
                        .active{
                            display: none;
                        }
                        .noactive{
                            display: flex;
                            justify-content: space-between;
                            div{
                                &:nth-child(1){
                                    min-height: 55px;
                                    min-width: 55px;
                                    width: unset;
                                    background: #F5F5F5;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transition: background .2s;
                                    svg{
                                        stroke: #292F31;
                                        min-height: 24px;
                                        min-width: 24px;
                                        width: unset;
                                        transform: rotate(360deg);
                                        transition: transform .3s, stroke .2s;
                                    }
                                }
                                &:nth-child(2){
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    max-width: 166px;
                                    h1{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 19px;
                                        color: #292F31;
                                        margin: 0 0 4px 0;
                                        transition: color .2s;
                                        width: unset;
                                    }
                                    h2{
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 17px;
                                        color: #575757;
                                        margin: 0;
                                        transition: color .2s;
                                        width: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &--observation{
                resize: none;
                height: 114px;
                border: 1px solid #D5D5D5;
                border-radius: 24px;
                padding: 24px 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                &::placeholder{
                    position: absolute;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px;
                    color: #949494;
                }
                &:focus{
                    border: 1px solid #05CB95;
                    outline: 1px solid #05CB95;
                    color: #05CB95;
                    &::placeholder{
                        color: #05CB95;
                    }
                }
                &::-webkit-scrollbar{
                    width: 0px;
                }
            }
        }
        &__order{
            max-width: 477px;
            position: relative;
            h1{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #292F31;
                margin: 0 0 16px 0;
            }
            &--itens{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                margin: 0 0 32px 0;
                height: 346px;
                &::-webkit-scrollbar{
                    width: 0px;
                }
            }
            &--summary{
                background: #F9F9F9;
                border-radius: 24px;
                padding: 24px 20px;
                display: flex;
                flex-direction: column;
                section{
                    display: flex;
                    justify-content: space-between;
                    h2{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        color: #292F31;
                        margin: 0 0 16px 0;
                        width: unset;
                    }
                    p{
                        width: unset;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #575757;
                        margin: 0;
                    }
                    h1{
                        width: unset;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #292F31;
                        margin: 0;
                    }
                }
                hr{
                    border-top: #D5D5D5;
                    margin: 16px 0 16px 0;
                }
            }
            &--clear{
                text-align: center;
                margin: 32px 0 121px 0;
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration-line: underline;
                    color: #575757;
                    text-align: center;
                    transition: color .2s;
                    &:hover{
                        color: #05CB95;
                    }
                }
            }
            &--button{
                background: #FFFFFF;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.12);
                border-radius: 20px 20px 0px 0px;
                padding: 15px 25px;
                position: sticky;
                bottom: 0;
                input{
                    height: 60px;
                    background: #05CB95;
                    border-radius: 18px;
                    border: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    color: #FFFFFF;
                    cursor: pointer;
                    transition: background .2s;
                    &:hover{
                        background: #0AA77C;
                    }
                }
            }
        }
    }
}

// START STYLE CARD SUGGESTIONS FOR YOU
.checkout__header__more--itens{
    height: 184px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    img{
        height: 100px;
        width: 100px;
        margin: 0 0 0 5px;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #292F31;
        margin: 0;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .2s, text-decoration .2s;
        &:hover{
            color: #05CB95;
            text-decoration: underline;
        }
    }
    h1{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #292F31;
        margin: 0px;
    }
    div{
        position: absolute;
        top: 16px;
        right: 5px;
        height: 35px;
        width: 35px;
        background: #05CB95;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background .2s;
        &:hover{
            background: #0AA77C;
        }
    }
}
// FIM STYLE CARD SUGGESTIONS FOR YOU

// START STYLE CARD ORDER ITENS
.checkout__content__order--itens{
    .item{
        border: 1px solid #D5D5D5;
        border-radius: 24px;
        padding: 16px 20px 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        margin: 0 0 8px 0;
        &:last-child{
            margin: 0;
        }
        img{
            height: 56px;
            width: 56px;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 365px;
            height: 100%;
            p{
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #292F31;
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .action{
                display: flex;
                align-items: center;
                height: 24px;
                h1{
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 18px;
                    color: #05CB95;
                    margin: 0;
                }
                div{
                    max-width: 112px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    .menos{
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                        stroke: #000;
                        margin: 0 35px 0 0;
                        transition: stroke .2s;
                        &:hover{
                            stroke: #05CB95;
                        }
                    }
                    p{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #292F31;
                        margin: 0px;
                        width: unset;
                        cursor: default;
                    }
                    .mais{
                        height: 14px;
                        width: 14px;
                        cursor: pointer;
                        stroke: #000;
                        margin: 0 0 0 35px;
                        transition: stroke .2s;
                        &:hover{
                            stroke: #05CB95;
                        }
                    }
                    .delete{
                        height: 20px;
                        width: 16px;
                        cursor: pointer;
                        fill: #000;
                        margin: 0 35px 0 0;
                        transition: fill .2s;
                        &:hover{
                            fill: #05CB95;
                        }
                    }
                }
            }
        }
    }
}
// FIM STYLE CARD ORDER ITENS
